.icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
}

.icon-container > div {
  text-align: center;
  /* Additional styling */
}
.top-aligned {
  vertical-align: top;
}

td {
  min-width: 100px; /* Adjust as needed */
}
table {
  table-layout: fixed;
  width: 100%; /* Adjust as needed */
}

.spaceRow {
  text-align: center; /* Centers content horizontally */
  vertical-align: middle; /* Centers content vertically */
  min-height: 55px;
  height: 55px;
}
.headerFooter {
  background-color: #29a9e0;
}
